/* 1. Configuração Geral da Tela (Fundo Escuro e Centralização) */
body {
    background-color: #2f3542; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: min-content;
    min-height: 100vh;
    color: white;
}

/* 2. Menu de Navegação Superior */
.menu {
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    color: #ff4757;
    font-weight: bold;
    background-color: white;
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

.menu a:hover {
    background-color: #ff4757;
    color: white;
}

#grid-pokedex{
    background-color: rgb(255, 252, 249);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    max-width: 1200px;
    margin: 40px auto;

    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    display: grid;
    gap: 20px;
}